body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #2E3047;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3BBA9C;
    font-family: 'Roboto';
    margin: 0px;
    position: relative;
}

#bgimage {
    background-image: url("../images/background.jpg");
    background-size: contain;
    opacity: 0.05;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    overflow: hidden;
    z-index: 0;
}

.container {
    margin: auto;
    align-items: center;
    text-align: center;
    display: block;
    z-index: 1;
}

.grid-container {
    margin: 35px 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-items: center;
    text-align: center;
}

.grid-container img {
    width: 300px;
    height: auto;
    transition: transform .2s;
}

@media screen and (max-width: 540px) {
    .grid-container img {
        width: 100%;
        height: auto;
        transition: transform .2s;
    }
}

.grid-container img:hover {
    cursor: pointer;
    transform: scale(1.035);
    box-shadow: 0 8px 8px -4px black;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #212333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #707793;
    transition: 0.3s;
}

.sidenav a i {
    margin-right: 10px;
    justify-self: center;
}

.sidenav a:hover {
    color: #3BBA9C;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#menu {
    color:#707793;
    font-size: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin: 15px;
    transition: color 1s;
}

#menu:hover {
    cursor: pointer;
    color: #3BBA9C;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content */

.modal-content {
    background-color: transparent;
    margin: auto;
    margin-top: -17px;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 540px) {
    .modal-content {
        background-color: transparent;
        margin: auto;
        margin-top: -5px;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.modal-content img{
    width: 100%;
    height: auto;
}
/* The Close Button */

.close {
    color: #3BBA9C;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 1s;
}

.close:hover,
.close:focus {
    color: #707793;
    text-decoration: none;
    cursor: pointer;
}
